
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781-contents
.Rproj.user/D4AEDB63/sources/prop/F2C277ED
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/3EF84B0C-index/1/s/chunks.json
*.json
.Rproj.user/D4AEDB63/sources/s-49D5D654/lock_file
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781-contents
*.json
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781-contents
.Rproj.user/D4AEDB63/sources/prop/INDEX
.Rproj.user/D4AEDB63/sources/s-49D5D654/2FE9E781
.Rproj.user/D4AEDB63/sources/s-49D5D654/2FE9E781-contents
.Rproj.user/shared/notebooks/3EF84B0C-index/1/D4AEDB631F2C7788/chunks.json
.Rproj.user/shared/notebooks/3EF84B0C-index/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781-contents
.Rproj.user/D4AEDB63/sources/prop/INDEX
.Rproj.user/shared/notebooks/3EF84B0C-index/1/D4AEDB631F2C7788/chunks.json
*.json
.Rproj.user/shared/notebooks/3EF84B0C-index/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/paths
.Rproj.user/D4AEDB63/sources/s-49D5D654/CF87E8F5-contents
.Rproj.user/D4AEDB63/sources/s-49D5D654/CF87E8F5
.Rproj.user/D4AEDB63/sources/s-49D5D654/98EBEF1-contents
.Rproj.user/D4AEDB63/sources/s-49D5D654/98EBEF1
.Rproj.user/D4AEDB63/sources/s-49D5D654/84C3B575-contents
.Rproj.user/D4AEDB63/sources/s-49D5D654/6BC98DD5-contents
.Rproj.user/D4AEDB63/sources/s-49D5D654/6BC98DD5
.Rproj.user/D4AEDB63/sources/s-49D5D654/6B3DE607-contents
.Rproj.user/D4AEDB63/sources/s-49D5D654/66FB2C93-contents
.Rproj.user/D4AEDB63/sources/s-49D5D654/66FB2C93
.Rproj.user/D4AEDB63/sources/prop/INDEX
.Rproj.user/D4AEDB63/sources/prop/CDC3FA85
.Rproj.user/D4AEDB63/sources/prop/B908DF1B
.Rproj.user/D4AEDB63/sources/prop/9AB9A5A1
.Rproj.user/D4AEDB63/sources/prop/3DF0AAB1
.Rproj.user/D4AEDB63/sources/prop/2E22706A
.Rproj.user
