
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781-contents
.Rproj.user/D4AEDB63/sources/prop/F2C277ED
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/3EF84B0C-index/1/s/chunks.json
*.json
.Rproj.user/D4AEDB63/sources/s-49D5D654/lock_file
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781-contents
*.json
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781-contents
.Rproj.user/D4AEDB63/sources/prop/INDEX
.Rproj.user/D4AEDB63/sources/s-49D5D654/2FE9E781
.Rproj.user/D4AEDB63/sources/s-49D5D654/2FE9E781-contents
.Rproj.user/shared/notebooks/3EF84B0C-index/1/D4AEDB631F2C7788/chunks.json
.Rproj.user/shared/notebooks/3EF84B0C-index/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781
.Rproj.user/D4AEDB63/sources/per/t/2FE9E781-contents
.Rproj.user/D4AEDB63/sources/prop/INDEX
.Rproj.user/shared/notebooks/3EF84B0C-index/1/D4AEDB631F2C7788/chunks.json
*.json
.Rproj.user/shared/notebooks/3EF84B0C-index/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
